
.linkedin :hover, .github :hover {
     color: rgb(18, 215, 255);
     transition-duration: 300ms;
     transition: ease-in-out;
}

.project-btns button {
    background-color: rgb(243, 53, 91);
    color: white;
    
}

.project-btns :hover{
    background-color: rgb(18, 215, 255);
    color: white;
     transition-duration: 300ms;
     transition: ease-in-out;
     transform-style: flat;
}

.bio-p{
    text-decoration: underline;
}

.bio-p :hover{
    color: rgb(18, 215, 255);
}

.logo-header{
    background-color: rgb(243, 53, 91);
    border-radius: 10px;
    padding: 10px;
}
